.form-field-full-width {
  width: 100%;
  margin-bottom: 10px;
}
.form-container-dialog-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mensagem-sucesso {
  color: green;
  background-color: #e6ffed;
  border: 1px solid #5cb85c;
  padding: 10px;
  margin-top: 15px;
  border-radius: 4px;
  text-align: center;
}
.mensagem-erro {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 10px;
  margin-top: 15px;
  border-radius: 4px;
  text-align: center;
}
