<div style="padding: 20px;">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Listar Esteticistas">
      <ng-template matTabContent>
        <div style="padding-top: 20px;">
          <app-list-estheticians></app-list-estheticians>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Cadastrar Novo(a) Esteticista">
      <ng-template matTabContent>
        <div style="padding-top: 20px;">
          <app-form-esthetician></app-form-esthetician>
          </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
