/* src/app/app.component.css */
.app-container {
  display: flex;
}

/* Estilo quando a sidebar NÃO está visível */
.main-content-full {
  width: 100%;
  padding: 20px; /* Ou o padding que desejar */
  box-sizing: border-box;
}

/* Estilo quando a sidebar ESTÁ visível */
.main-content-with-sidebar {
  /* Largura da sua sidebar (ex: 200px) + um pouco de margem (ex: 20px) = 220px */
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px); /* Ajuste 220px para a largura da sua sidebar + margem */
  box-sizing: border-box;
}

