/* src/app/core/components/sidebar/sidebar.component.css */
.sidebar {
  width: 200px; /* Ou o tamanho que desejar */
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh; /* Ocupa toda a altura da viewport */
  position: fixed; /* Para manter fixo na lateral */
  left: 0;
  top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  margin-bottom: 5px;
}

.sidebar ul li a:hover {
  background-color: #e0e0e0;
}

.sidebar ul li a.active-link {
  background-color: #007bff; /* Cor de destaque para o link ativo */
  color: white;
}
