<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/clients" routerLinkActive="active-link">Clientes</a>
    </li>
    <li>
      <a routerLink="/estheticians" routerLinkActive="active-link">Esteticistas</a>
    </li>
    <li>
      <a routerLink="/procedures" routerLinkActive="active-link">Procedimentos</a>
    </li>
    <li>
      <a routerLink="/sessions" routerLinkActive="active-link">Sessões</a>
    </li>
    <li>
      <a routerLink="/appointments" routerLinkActive="active-link">Consultas</a>
    </li>
  </ul>
</nav>
